---
title: Article
layout: default
layout_type: one-sidebar
display: article
active: "blog"
---

<article class="main-content">

  <div class="content-primary">
    <header class="article-header">
      <div class="meta">
      	<time class="pubdate" datetime="2013-06-04T08:00:01-05:00">October 13, 2014</time>
      	<a class="author-name" href="#">Kerry King</a>
      	<a class="category" href="#">Research and Grants</a>
      </div>
      <h1 class="article-title">Music in the Education Ecosystem: Why Does It Matter?</h1>
      <nav class="article-toc">
      	<h2>In this article:</h2>
      	<ul>
      		<li><a href="#exploring-the-impact">Exploring the impact</a></li>
      		<li><a href="#support-dr-krauss">Support Dr. Krauss</a></li>
      		<li><a href="#80-million-in-donations">$80 Million in donations</a></li>
      		<li><a href="#80-million-in-donations">About Nina Kraus, Ph.D</a></li>
      	</ul>
      </nav> <!-- /.article-toc -->
    </header> <!-- /.article-header -->
    
    <img class="teaser-image" src="http://placehold.it/800x320&text=Optional+header+image">
    
    {% include components/share-links.html %}
    
    <div class="article-body">
    	
    	<h2 id="exploring-the-impact">Exploring the developmental and cognitive impact of music learning</h2>

    	<p>Over the next two years, funding from the NAMM Foundation empowers the research team led by Kraus to further examine the biological and behavioral effects of musical training in school-aged children, using the studies' own subjects as controls.</p>
    
    	<p>Both studies forge new ground in that no other research to-date has assessed the effects of musical training using subjects as both subjects and controls. Previous research has compared the positive effects of musical training on musicians to non-musicians. Additionally, past research has typically been conducted on people who had private music lessons, while Kraus' work seeks to understand the impact of music education delivered in group, school-based settings.</p>
    
    	<p>While still experimental, preliminary findings hold powerful implications for how the nervous system responds to sound, even years after music education has ceased. These studies build on Kraus' research that explores the musical wiring of the human brain and how these capacities support, guide and nurture language and literacy development. Findings to-date indicate that tapping into the brain's potential for music learning supports overall learning, and is most critical for disadvantaged and under-served students.</p>
    
    	<h2 id="support-dr-krauss">NAMM Foundation supports Dr. Kraus</h2>
    	
    	<p>"The NAMM Foundation is honored to support Dr. Kraus in these studies, which we believe will push the boundaries of knowledge about the effects and impact of music learning," said Mary Luehrsen, executive director of the NAMM Foundation. "Over time, these and other studies will continue to substantiate that music education is essential to learning for every child."</p>
    
    	<p>The first study, "The Harmony Project: Biological Benefits of Musical Training in At-Risk Children," builds on initial research conducted in partnership with the Harmony Project, a non-profit organization providing free musical training to children in gang reduction zones in Los Angeles. Analyzing the results of 81 subjects between six and nine years of age, initial findings demonstrate that the ability of the nervous system to differentiate speech sounds based on subtle timing differences relates to language and literacy skills, such as reading fluency.</p>
    
    	<p>"So far we've seen that musical experience has a profound effect on how the nervous system encodes meaningful sound – speech as well as music," said Kraus. "Musical experience also enhances the ability to hear speech in noisy listening environments and helps to remember what is being said. We expect to find that children with musical training have more precise neural encoding of speech sounds, which translates into enhanced auditory cognitive function, and ultimately, supports success in literacy, along with the benefits of being engaged with music."</p>
    
    	<p>The second project, "Impact of In-School Music Classes: Rhythm, Language and the Brain," is a collaboration with the Chicago Public Schools and seeks to understand how musical training impacts cognitive, linguistic and perceptual skills and associated brain development. The study is the first to explore the impact of music education delivered within public schools and investigates the relationships between biological and behavior metrics of rhythm and the neural encoding of sound, language and cognitive abilities. The study attempts to answer two key questions in music research: what are the effects of music training on the brain and how does it cause these changes?</p>
    
    	<h2 id="80-million-in-donations">NAMM Foundation invests $80 million</h2>
    	
    	<p>Over the past decade, the NAMM Foundation has reinvested nearly $80 million in promoting the social, health and wellness benefits of recreational music making, including the groundbreaking "Mozart Effect" study.</p>
    
    	<h2 id="about-nina-kraus-phd">About Nina Kraus, Ph.D</h2>
      
      <p>As head of the Auditory Neuroscience Laboratory at Northwestern University, Dr. Kraus brings over 25 years of experience to researching the biological foundations of auditory perception. Her lab, which investigates the neurobiology underlying speech and music perception and learning-associated brain plasticity, studies normal listeners throughout the lifespan, clinical populations (dyslexia; autism; hearing loss), auditory experts (musicians) and an animal model.</p>
    
    	<p>Dr. Kraus' work has been published in more than 200 journals and national media publications, including The New York Times and NPR.</p>
    
    </div> <!-- /.article-body -->
    
    {% include components/additional-links.html %}
    
    {% include components/comments.html %}
  
  </div> <!-- /.content-primary -->
  
  <aside role="complementary" id="sidebar" class="content-secondary">
    {% include components/blog-search.html %}
    {% include components/related-articles.html %}
    {% include components/helpful-resources.html %}
    {% include components/impact-spotlight.html %}
    {% include components/stat-highlight.html %}
    {% include components/promo-small.html %}
  </aside> <!-- /.content-secondary -->

</article> <!-- /.main-content -->