---
title: Educator Tip
layout: default
layout_type: one-sidebar
display: educator-tip
active: "for educators"
---

<article class="main-content">

  <div class="content-primary">
  
    <header class="article-header">
      <h1 class="article-title">Focusing on the Classroom: A Checklist for Teachers</h1>
    </header> <!-- /.article-header -->
    
    {% include components/share-links.html %}
    
    <div class="article-body">
    	
    	<p class="summary">What does a music teacher do? They teach classes, share their love of music with students, prepare lesson plans, develop curriculum, assess and evaluate students’ progress, and share this information with parents, fellow teachers and school administrators. The following are some ideas to help you become the best professional music educator you can, as well as realize the full potential in each of your students.</p>
    	
    	<p><a class="download-link" href="#">Download the PDF</a></p>
    	
    	<section class="video-player">
    	  <span class="wf-label">Video Player (shows if there's a video for this tip)</span>
    	</section> <!-- /.video-player -->
    	
    	<h2>Noteworthy Concepts to Keep in Mind as You Start Your Career</h2>
    	
    	<ul>
        <li><strong>Communicate with other new teachers.</strong> You will discover that most new teachers are experiencing similar problems and you may be able to help each other solve them.</li>
        <li><strong>Develop a support network.</strong> Colleagues of all ages and experience levels, former teachers and professional organizations&mdash;the profession is filled with individuals who are eager to share their time to help ensure your success.</li>
        <li><strong>Develop your own teaching style.</strong> Use what works best for you. Work with your personality, not against it.</li>
        <li><strong>Build students&rsquo; confidence.</strong> Students will become self-confident when they know they can trust you.</li>
        <li><strong>Be consistent, yet flexible.</strong> Do not vary expectations and format greatly, yet keep in mind that each student is different.</li>
        <li><strong>Expect students to respect others and model that behavior consistently.</strong> Correct inappropriate behavior promptly and fairly.</li>
        <li><strong>Be prepared for every lesson.</strong> Make a plan and stick to it. Think of your plan as a checklist of things to accomplish within a given time, and teach every class to the top of your game. Never teach &ldquo;by the seat of your pants.&rdquo;</li>
        <li><strong>Write down all contest and festival deadlines on a calendar.</strong> Make sure you meet deadlines early. Many entries are by postmark deadline and you can&rsquo;t always be sure the envelope or package is postmarked the day it is mailed.</li>
        <li><strong>Always be on the lookout for new music.</strong> Visit local music stores; attend conferences, conventions and concerts in your search for new music. Mark up programs and keep them in a separate file so that you are always ready to order should funds suddenly become available (this occurs frequently toward the end of the year when fiscal budgets have to be expended).</li>
        <li><strong>Select music for the students that they will learn from and enjoy.</strong> As the students become more informed consumers of music, they will value a wider variety of literature.</li>
    </ul>
    <ul>
        <li><strong>Order extra scores for solos or parts in advance for future concerts and festivals.</strong> Publishers get thousands of requests at the same time of the year.</li>
        <li><strong>Keep an accurate inventory of all instruments and uniforms.</strong> This is necessary for insurance purposes and will help you design a replacement plan.</li>
        <li><strong>Review mailings that come from manufacturers and publishers.</strong> These are designed to help you be successful. Plan to use interesting teaching and performing materials&mdash;and stay out of ruts.</li>
        <li><strong>Challenge yourself!</strong> Don&rsquo;t be afraid to promote your program, but do not do it at the expense of anyone else. You should not start an &ldquo;us-against-them&rdquo; attitude.</li>
        <li><strong>Stay informed.</strong> Join your state and national professional organization, and an arts-education advocacy group. Knowing what is happening on a state and national level will enable you to improve your local environment for arts education.</li>
        <li><strong>Stay current.</strong> Professional development is critical to your success. Visit outstanding programs. Incorporate successful techniques you observe in your teaching. Share what you learn with your colleagues.</li>
        <li><strong>Enjoy yourself.</strong> Don&rsquo;t take yourself too seriously. Humor is an important teaching tool.</li>
        <li><strong>Do your best.</strong> Nothing more can be asked.</li>
    </ul>
    
    <p><strong>MOST IMPORTANTLY</strong>, make sure the students know you care. Students will not care what you know until they know that you care. As a wise student teaching supervisor once said, "You've got to love the kids."</p>
    
    </div> <!-- /.article-body -->
  
  </div> <!-- /.content-primary -->
  
  <aside role="complementary" id="sidebar" class="content-secondary">
    {% include components/helpful-resources.html %}
    {% include components/join-coalition-small.html %}
    {% include components/impact-spotlight.html %}
    {% include components/stat-highlight.html %}
  </aside> <!-- /.content-secondary -->

</article> <!-- /.main-content -->