---
title: Get Involved
layout: default
layout_type: one-sidebar
display: get-involved
active: "get involved"
---

<article class="main-content">

  <div class="content-primary">
  
    <header class="article-header">
      <h1 class="article-title">Get Involved</h1>
    </header> <!-- /.article-header -->
    
    <section class="support-music-coalition component">
      {% include components/join-coalition.html %}
    </section>  
    
    <section class="event-feature component">
      <header>
        <h1 class="component-title">Support Music Community Forum Indianapolis, IN</h1>
        <time datetime="2014-1-13">
          <span class="date">January 13<sup>th</sup>, 2014</span>
          <span class="hour">8:30 a.m. VIP Reception,  9:00 a.m. SupportMusic Community Forum,   10:00 a.m. Lennon Bus Tours</span>
        </time>
        <p class="location"><label>Location:</label> Decatur Central High School</p>
      </header>
      <p class="summary">Produced in collaboration with the John Lennon Educational Tour Bus, the live forum kicks off the 2013-14 school year with a celebration of music education. Join us for this  gathering of community and education leaders in Indiana working to assure that music and the arts are part of the core curriculum for all children.</p>
      <a class="btn-primary rsvp" href="#">RSVP Today!</a>
      <a class="action-link" href="#">See Webcasts of All Past Events</a>
    </section>
    
    <section class="affiliate-spotlight component">
      <h1 class="component-title">Affiliate Spotlight: Affiliate Name</h1>
      <img class="teaser-image" src="http://placehold.it/400x200&text=Affiliate+Logo">
      <p class="intro">The paragraph about the highlighted affiliate would display here mixtape cornhole chillwave fanny pack four loko. Pop-up flannel before they sold out 90's street art shabby chic. Selvage seitan fixie Schlitz, mustache drinking vinegar butcher bitters beard selfies fap four loko jean shorts hoodie. Meggings fap gastropub, whatever drinking vinegar post-ironic readymade raw denim fashion axe McSweeney's try-hard next level gluten-free Helvetica food truck. Irony kitsch Williamsburg fixie Neutra gluten-free, put a bird on it flannel +1 messenger bag Cosby sweater. Thundercats authentic Echo Park, Austin fap organic polaroid.</p>
    </section> <!-- /.affiliate-spotlight -->
    
    <section class="advocate-resources component component-callout">
      <h1 class="component-title">Resources for Advocates</h1>
      <h2 class="subtitle-credit">brought to you by <a href="#">The SupportMusic Coalition</a></h2>
      <p class="intro">The NAMM Foundation's SupportMusic program empowers people in communities everywhere to be advocates for music and music education. Below are a few resources we provide that are particularly helpful for advocates.</p>
      <ul>
        <li><a class="action-link" href="#">Grass Roots Advocacy Guide</a></li>
        <li><a class="action-link" href="#">Keep Music Education Strong</a></li>
        <li><a class="action-link" href="#">The Advocates Plan</a></li>
        <li><a class="action-link" href="#">Communication Tools and Templates</a></li>
        <li><a class="action-link" href="#">What Research is Telling Us</a></li>
        <li><a class="action-link" href="#">Why Learn to Play Music</a></li>
        <li><a class="action-link" href="#">Now More than Ever</a></li>
      </ul>
    </section>
    	
  </div> <!-- /.content-primary -->
  
  <aside role="complementary" id="sidebar" class="content-secondary">
    {% include components/support-music-articles.html %}
    {% include components/helpful-resources.html %}
    {% include components/impact-spotlight.html %}
  </aside> <!-- /.content-secondary -->

</article> <!-- /.main-content -->