---
title: Partner
layout: default
layout_type: one-sidebar
display: partner
active: "what we do"
---

<article class="main-content">

  <div class="content-primary">
  
    <header class="article-header">
      <h1 class="article-title">Music Achievement Council</h1>
    </header> <!-- /.article-header -->
    
    {% include components/share-links.html %}
    
    <div class="article-body">
    	
    	<p class="summary">The Music Achievement Council was formed in 1983 for the express purpose of supporting instrumental music programs in our schools. The council produces educational materials for use by band and orchestra directors to help improve the recruiting and retention of instrumental music students.</p>
    	
    	{% include components/mac-resources.html %}
    
    </div> <!-- /.article-body -->
  
  </div> <!-- /.content-primary -->
  
  <aside role="complementary" id="sidebar" class="content-secondary">
    {% include components/join-coalition-small.html %}
    {% include components/impact-spotlight.html %}
    {% include components/stat-highlight.html %}
  </aside> <!-- /.content-secondary -->

</article> <!-- /.main-content -->