---
title: Testimonial
layout: default
layout_type: one-sidebar
display: testimonial
---

<article class="main-content">

  <div class="content-primary">
  
    <header class="article-header">
      <h1 class="article-title">Kleeg Helmut tells the story of the impact of his high school music teacher</h1>
    </header> <!-- /.article-header -->
    
    {% include components/share-links.html %}
    
    <div class="article-body">
    	
    	<blockquote class="pullquote">Large pull quote featuring something particularly compelling from the interview/testimonial try-hard authentic cardigan American Apparel dreamcatcher fingerstache.</blockquote>
    	
    	<section class="video-player">
    	  <span class="wf-label">Video Player (shows if there's a video for this testimonial)</span>
    	</section> <!-- /.video-player -->
    	
    	<p>Keytar pug cray, kogi Shoreditch roof party tofu fanny pack sustainable semiotics. Meh fixie chia synth retro, fashion axe fap pickled hella occupy tofu. Salvia YOLO street art tote bag photo booth authentic. Ethical vinyl pork belly messenger bag kale chips authentic, Etsy dreamcatcher photo booth wayfarers pour-over gluten-free pickled stumptown. Pour-over meggings drinking vinegar, Banksy Blue Bottle pop-up VHS typewriter Shoreditch sriracha. Literally street art gastropub actually lo-fi Neutra. Portland Austin shabby chic wayfarers skateboard, 8-bit bitters drinking vinegar Helvetica mustache pug lo-fi pour-over.</p>
      
      <p>Pickled Truffaut kale chips, bicycle rights chia wayfarers Shoreditch meggings chillwave PBR&B readymade photo booth hoodie. Paleo irony umami, semiotics wolf wayfarers VHS selvage Neutra iPhone Williamsburg cred readymade. Vinyl shabby chic freegan, hella wayfarers butcher +1 Blue Bottle. PBR&B ugh selvage, art party bitters Vice scenester ennui. Cliche authentic blog literally, Williamsburg roof party chia wayfarers Terry Richardson gastropub cred Schlitz. Wayfarers PBR forage ethnic, sriracha pork belly chambray Terry Richardson shabby chic Tumblr fingerstache artisan literally craft beer. Yr chambray Schlitz, meh iPhone scenester post-ironic Wes Anderson.</p>

      <p>Raw denim banjo iPhone fashion axe shabby chic Bushwick. Ethnic 90's American Apparel Blue Bottle, lo-fi hoodie gastropub bitters dreamcatcher Intelligentsia whatever. Deep v mumblecore flannel Intelligentsia organic PBR forage. Kitsch tattooed Echo Park, art party seitan next level craft beer Helvetica authentic beard. Gastropub forage PBR&B fashion axe, DIY actually vinyl iPhone slow-carb pour-over Cosby sweater Williamsburg. Distillery single-origin coffee narwhal drinking vinegar, fanny pack brunch keytar. Yr four loko jean shorts direct trade street art.</p>
    
    </div> <!-- /.article-body -->
  
  </div> <!-- /.content-primary -->
  
  <aside role="complementary" id="sidebar" class="content-secondary">
    {% include components/join-coalition-small.html %}
    {% include components/impact-spotlight.html %}
    {% include components/stat-highlight.html %}
  </aside> <!-- /.content-secondary -->

</article> <!-- /.main-content -->