---
title: Webcast
layout: default
layout_type: one-sidebar
display: webcast
active: "blog"
---

<article class="main-content">

  <div class="content-primary">
  
    <header class="article-header">
      <h1 class="article-title">Support Music Community Forum: Tuesday, September 10, 2013</h1>
    </header> <!-- /.article-header -->
    
    {% include components/share-links.html %}
    
    <div class="article-body">
    	
    	<section class="video-player">
    	  <span class="wf-label">Video/Audio Player (shows if there's video/audio for this webcast)</span>
    	</section> <!-- /.video-player -->
    	
    	<section class="event-subscribe">
    	  <span class="wf-label">Subscribe area shows if event hasn't taken place yet</span>
    	</section> <!-- /.event-subscribe -->
    	
    	<p>The live webcast, a collaborative effort between SupportMusic and the John Lennon Educational Tour Bus, is the first of several that will be taking place in various U.S. cities this fall. It will be a gathering of education leaders and elected officials who will share their concerns and ideas for expanding access to music and arts education as vital to a complete and quality education for all children.</p>
    	
    	<h2>Panelists inlcuded ...</h2>
      
      <ul>
        <li><strong>Adam Bovie</strong> <br />Director of Bands, Carsbad High School</li>
        <li><strong>Karen Childress-Evans</strong> <br />Director VAPA, San Diego Unified School District</li>
        <li><strong>Dr. Merryl Goldberg</strong> <br />Department Chair, Cal. State San Marcos VPA, Founder and Director of “Center ARTES”</li>
        <li><strong>Dalouge Smith</strong> <br />President and CEO, San Diego Youth Symphony</li>
        <li><strong>Dr. Devin Vodicka</strong> <br />Superintendent, Vista School District</li>
      </ul>
    
    </div> <!-- /.article-body -->
  
  </div> <!-- /.content-primary -->
  
  <aside role="complementary" id="sidebar" class="content-secondary">
    {% include components/other-webcasts.html %}
    {% include components/join-coalition-small.html %}
    {% include components/impact-spotlight.html %}
  </aside> <!-- /.content-secondary -->

</article> <!-- /.main-content -->