---
title: What We Do
layout: default
layout_type: no-sidebar
display: what-we-do
active: "what we do"
---

<article class="content">
	
	<header class="hero">
	  <article class="hero-content">
	  	<h1 class="component-title">The NAMM Foundation advances active participation in music making across the lifespan by supporting scientific research, philanthropic giving and public service programs.</h1>
	  	<a class="btn-play" href="#" title="Watch the Video">Watch the Video</a>
	  </article>
	</header>
	<section class="component projects">
		<div class="content">
			<p class="intro">Founded in 2006, The NAMM Foundation represents the generosity and philanthropy of the music products industry. A supporting organization of NAMM, the National Association of Music Merchants, the NAMM Foundation is funded through trade association activities and donations.</p>
			<ul class="projects-list">
				<li class="support-music">
					{% include components/support-music.html %}
				</li>
				<li class="museum">
					{% include components/museum.html %}
				</li>
				<li class="research">
					{% include components/research.html %}
				</li>	
			</ul>
		</div>
	</section> <!-- /.namm-projects -->
	
	<section class="component partners">
		<div class="content">
			{% include components/featured-partner.html %}
		</div>
	</section>
	
	<section class="component donate">
		<div class="content">
			<h1 class="section-title">Donate to the NAMM Foundation</h1>
			<p class="summary">For the joy of music and music making, consider a gift to the NAMM Foundation. Download a NAMM Foundation donor brochure today.</p>
			<p><a class="action-link" href="#">Make a Donation</a></p>
		</div>
	</section>
	
</article> <!-- /.content -->