---
title: Why Music Matters
layout: default
layout_type: no-sidebar
display: why-music-matters
active: "why music matters"
---

<article class="content">
	<header class="hero">
	  <article class="hero-content">
	  	<blockquote class="quote">
	  	<p class="component-title">The nation's top business executives agree that arts education programs can help repair weaknesses in American education and better prepare workers for the 21st century.</p>
	  	<footer class="quote-footer">- Business Week Magazine</footer>
	  	</blockquote>
	  </article>
	</header>
	<section class="component featured-testimonials">
		<div class="content">
			{% include components/featured-testimonials.html %}
		</div>
	</section> 

	<section class="component featured-statistics">
		<div class="content">
			{% include components/featured-stats.html %}
		</div>
	</section> 

	<section class="component why-play-music-research">
		<div class="why-play-music">
			{% include components/why-play-music.html %}
		</div>
		<div class="featured-research">
			{% include components/featured-research.html %}
		</div>
	</section>

	
</article> <!-- /.content -->