---
title: Your Community
layout: default
layout_type: no-sidebar
display: your-community
active: "community"
---

<article class="content">
	<header class="hero">
	  <article class="hero-content">
	  	<h1 class="component-title">The NAMM Foundation supports teachers, parents and community leaders with resources and programs to advance music making for all.</h1>
	  </article>
	</header>
	<section class="component community-spotlight">
		<div class="content">
			<h1 class="section-title">Community Spotlight</h1>
			<blockquote>
        <p>"Being recognized by the Best Communities award has had an amazing positive effect on our community."</p>
        <footer class="attribution">- <strong>Dr. Jason Berger</strong>, Director for Visual and Performing Arts, Brighton Central School District, Rochester NY</footer>
      </blockquote>
		</div>
	</section> 
	
	<section class="component best-communities component-callout">
	  <div class="content">
	    <img class="map-image" src="http://placehold.it/500x300&text=Map+Image">
	    <div class="best-communities-info">
	      <h1 class="component-title">2013 Best Communities for Music Education</h1>
	      <p class="intro">Complete a survey NOW through January 17 for your district or school to be considered a Best Community for Music Education or a SupportMusic Merit Award for 2014. Congratulations to the 307 Districts that received the 2013 Best Communities for Music Education designation as part of the Best Communities for Music Education Program and the 66 schools that received the SupportMusic Merit award!</p>
	      <ul class="link-list">
	        <li><a class="action-link" href="#">See the 2013 Best Communities for Music Education Districts</a></li>
	        <li><a class="action-link" href="#">See the 2013 SupportMusic Merit Awarded Schools</a></li>
	        <li><a class="action-link" href="#">Read about the  Survey</a></li>
	      </ul>
	    </div>
	  </div>
	</section>

	<section class="component locator-coalition">
		<div class="content">
			{% include components/member-locator.html %}
			{% include components/join-coalition-small.html %}
		</div>
	</section>
	
</article> <!-- /.content -->