.content-secondary {
	
	@include pad($gutter * 2 $gutter $gutter $gutter);
	
	.component {
  		margin: $gutter * 2 0;
  		&:first-child{
  			margin-top: 0
  		}
	}

	.component-title {
		font-size: 1.25em;
		border-bottom: solid 1px $border-light;
		margin-bottom: .75em;
		line-height: 1.5;
	}

	.subtitle {
		font-size: .8em;
		text-transform: uppercase;
	}

	ul {
		
		padding: 0;
		margin: 0 0 $gutter 0;
		
		li {
			list-style: none;
			line-height: 1.5em;
			margin: .5em 0;
			.item-title {
  			font-weight: normal;
  			font-size: 1em;
  			line-height: 1.5;
			}
		}
		
	}
	
	.posts-list {
  	.item-title,
  	.post-title,
  	.meta {
    	margin: .25em 0;
  	}
  	.post {
    	margin-top: 1.5em;
  	}
	}
	
}
