////////////
// Colors //
////////////

$blue: #4294f0;
$charcoal: #333132;
$text-dark: #4d4d4f;
$text: #6d6e71;
$text-light: #808285;
$border-light: #d7d7d7;
$lightest-grey: #eeeeee;


/////////////////
// Media Sizes //
/////////////////

$small: 20em;
$medium: 45em;
$large: 60em;
$nav-collapse: 50em;


///////////
// Fonts //
///////////

/* Make your local site domain manifesto.local for these fonts to work locally */

$serif: "ff-tisa-web-pro", Georgia, "Times New Roman", "DejaVu Serif", serif;
$sans-serif: "franklin-gothic-urw", Helvetica, Arial, Tahoma, sans-serif;
