.advocate-resources {
	@include pad($gutter);
	.component-title{
		@extend %section-title;
		text-align: left;
	}
	ul {
		margin: 0;
		list-style: none;
		padding: 0;
		li {
			padding: 1em 0; 
			border-bottom: solid 1px $border-light;
			&:last-child {
				border-bottom: none;
			} 
		}
		.action-link {
  		margin: 0;
		}
	}
}