.featured-statistics{
	@include pad($gutter);
	background: $lightest-grey;
	.section-title{
		@extend %section-title;
	}
	.stat-list{
		padding: 0;
	}
	.featured-stat-item{
		margin-bottom: $gutter;
		text-align: center;
		@include media($medium){
			text-align: left;
		}
	}

	.more-link{
		background: white;
	}
}