.tips-for-success {
  margin-top: $gutter;
	.section-title {
  	text-align: left;
  	margin-bottom: 0;
	}
	.subtitle-credit {
  	font-size: 1em;
  	font-style: italic;
  	font-family: $serif;
  	margin-top: 0;
  	margin-bottom: $gutter;
	}
	.tips-list{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	
	.post {
  	border-top: 4px solid $border-light;
  	padding-top: $gutter;
	}
	
	.post {
		margin-bottom: $gutter * 2;
		@include media($medium) {
		  @include span-columns(6);
		  @include omega(even);
		  @include box-sizing(border-box);
		  padding-right: $gutter;
		  min-height: 22em;
		}
	}

	.item-title {
		margin-top: 0;
	}
}

