<nav role="navigation" class="nav-footer">
  <div class="logo">
    <img src="images/namm-logo.png" />
  </div>
  <ul class="nav-list">
    <li>
      <a href="what-we-do.html">What We Do</a>
    </li>
    <li>
      <a href="why-music-matters.html">Why Music Matters</a>
    </li>
    <li>
      <a href="your-community.html">Community</a>
    </li>
    <li class="small">
      <a href="educator-resources.html">For Educators</a>
    </li>
    <li class="small">
      <a href="blog.html">Blog</a>
    </li>
    <li class="small">
      <a href="get-involved.html">Get Involved</a>
    </li>
     <li class="small">
      <a href="/">Additional Link</a>
    </li>
     <li class="small">
      <a href="/">Additional Link</a>
    </li>
     <li class="small">
      <a href="/">Additional Link</a>
    </li>
  </ul>
</nav>