<nav role="navigation" class="wireframe-footer">
  <h5>Wireframes</h5>
  <ul class="wireframe-links">
    <li>
      <a href="index.html">Home Page</a>
    </li>
    <li>
      <a href="what-we-do.html">What We Do</a>
    </li>
    <li>
      <a href="why-music-matters.html">Why Music Matters</a>
    </li>
    <li>
      <a href="your-community.html">Your Community</a>
    </li>
    <li>
      <a href="blog.html">Blog</a>
    </li>
    <li>
      <a href="get-involved.html">Get Involved</a>
    </li>
    <li>
      <a href="educator-resources.html">Educator Resources</a>
    </li>
    <li>
      <a href="article.html">Article</a>
    </li>
    <li>
      <a href="info-page.html">Info Page</a>
    </li>
    <li>
      <a href="educator-tip.html">Educator Tip</a>
    </li>
    <li>
      <a href="partner.html">Partner</a>
    </li>
    <li>
      <a href="project.html">Project</a>
    </li>
     <li>
      <a href="resource.html">Resource</a>
    </li>
     <li>
      <a href="testimonial.html">Testimonial</a>
    </li>
     <li>
      <a href="webcast.html">Webcast</a>
    </li>
  </ul>
</nav>