<h1 class="section-title">Why Music Matters</h1>
<ul class="testimonial-list">
	<li class="featured-testimonial-item">
		<article>
			<img class="featured-image" src="http://placehold.it/400x200&text=Celebrity/Artist+Image">
			<div class="featured-link-text">
				<h2><a href="#">Jack Black</a></h2>
				<p class="summary">Actor, comedian and musician</p>
			</div>
		</article>
	</li>
	<li class="featured-testimonial-item">
		<article>
			<img class="featured-image" src="http://placehold.it/400x200&text=Celebrity/Artist+Image">
			<div class="featured-link-text">
				<h2><a href="#">Natasha Bedingfield</a></h2>
				<p class="summary">British pop star, musician</p>
			</div>
		</article>
	</li>
	<li class="featured-testimonial-item">
		<article>
			<img class="featured-image" src="http://placehold.it/400x200&text=Celebrity/Artist+Image">
			<div class="featured-link-text">
				<h2><a href="#">Tommy Lee</a></h2>
				<p class="summary">Motley Crue drummer, musician</p>
			</div>
		</article>
	</li>	
	<li class="featured-testimonial-item">
		<article>
			<img class="featured-image" src="http://placehold.it/400x200&text=Celebrity/Artist+Image">
			<div class="featured-link-text">
				<h2><a href="#">Julia Roberts</a></h2>
				<p class="summary"> American actress</p>
			</div>
		</article>
	</li>
</ul>