<h1 class="section-title">Partners</h1>
<ul class="partners-list">
	<li class="featured-partner">
		<h2 class="item-title"><a href="#">Music Achievement Council</a></h2>
		<p class="summary">The Music Achievement Council is an organization of music leaders dedicated to developing and retaining instrumental music students and teachers. </p>
	</li>
	<li class="featured-partner">
		<h2 class="item-title"><a href="#">PTA</a></h2>
		<p class="summary">The Music Achievement Council is an organization of music leaders dedicated to developing and retaining instrumental music students and teachers. </p>
	</li>
	<li class="featured-partner">
		<h2 class="item-title"><a href="#">Americans for the Arts</a></h2>
		<p class="summary">The Music Achievement Council is an organization of music leaders dedicated to developing and retaining instrumental music students and teachers. </p>
	</li>
	<li class="featured-partner">
		<h2 class="item-title"><a href="#">Sesame Street</a></h2>
		<p class="summary">The Music Achievement Council is an organization of music leaders dedicated to developing and retaining instrumental music students and teachers. </p>
	</li>
	<li class="featured-partner">
		<h2 class="item-title"><a href="#">Music Makes Us</a></h2>
		<p class="summary">The Music Achievement Council is an organization of music leaders dedicated to developing and retaining instrumental music students and teachers. </p>
	</li>
	<li class="featured-partner">
		<h2 class="item-title"><a href="#">Arts Education Partnership</a></h2>
		<p class="summary">The Music Achievement Council is an organization of music leaders dedicated to developing and retaining instrumental music students and teachers. </p>
	</li>
	<li class="featured-partner">
		<h2 class="item-title"><a href="#">DCI</a></h2>
		<p class="summary">The Music Achievement Council is an organization of music leaders dedicated to developing and retaining instrumental music students and teachers. </p>
	</li>
</ul>