<h1 class="section-title">Did You Know..?</h1>
<ul class="stat-list">
	<li class="featured-stat-item">
		<article>
			<img class="featured-image" src="http://placehold.it/400x200&text=Icon+or+Infographic">
			<div class="featured-link-text">
				<p class="summary">Students who were exposed to the music-based lessons scored a full 100 percent higher on fractions tests than those who learned in the conventional manner.</p>
			</div>
		</article>
	</li>
	<li class="featured-stat-item">
		<article>
			<img class="featured-image" src="http://placehold.it/400x200&text=Icon+or+Infographic">
			<div class="featured-link-text">
				<p class="summary">Music majors are the most likely group of college grads to be admitted to medical school.</p>
			</div>
		</article>
	</li>
	<li class="featured-stat-item">
		<article>
			<img class="featured-image" src="http://placehold.it/400x200&text=Icon+or+Infographic">
			<div class="featured-link-text">
				<p class="summary">Research shows that piano students are better equipped to comprehend mathematical and scientific concepts. </p>
			</div>
		</article>
	</li>	
</ul>