
<h2 class="component-title">Music-Making Grants</h2>
<article class="featured-link">
  <img class="featured-image" src="http://placehold.it/400x200">
  <div class="featured-link-text">
    <h2><a href="#">This is the title of the linked article or page</a></h2>
    <p class="summary">Actually pop-up Williamsburg, roof party Marfa synth PBR ethical exercitation anim hoodie. Godard tattooed exercitation tousled flannel voluptate.</p>
  </div>
</article>
<article class="project-links">
  <h3>Additional Links</h3>
  <ul>
    <li><a href="#">Link Number One</a></li>
    <li><a href="#">Link Number Two</a></li>
    <li><a href="#">Link Number Three</a></li>
    <li><a href="#">Link Number Four</a></li>
    <li><a href="#">Link Number Five</a></li>
  </ul>
</article>
<a href="#" class="more-link">See More About Grants</a>