<article class="component helpful-resources">
  <h1 class="component-title">Helpful Resources</h1>
  <h2 class="subtitle">For Parents</h2>
  <ul class="for-parents">
    <li><a href="#">Why learn to play music?</a></li>
    <li><a href="#">Community action kit</a></li>
    <li><a href="#">Keep music education strong</a></li>
  </ul>
  <h2 class="subtitle">For Educators</h2>
  <ul class="for-educators">
    <li><a href="#">A practical guide to recruitment & retention</a></li>
    <li><a href="#">Tips for success</a></li>
    <li><a href="#">Bridging the gap between middle and high school</a></li>
  </ul>
  <h2 class="subtitle">For Grant Seekers</h2>
  <ul class="for-grant-seekers">
    <li><a href="#">Eligibility & application guidelines</a></li>
    <li><a href="#">Frequently asked questions</a></li>
  </ul>
</article> <!-- /.helpful-resources -->