<article class="component join-coalition">

  <h1 class="component-title">Join the Support Music Coalition</h1>
  
  <p>Join this national network of people everywhere working to assure that music education is part of the core curriculum for all children.
Receive communications about monthly conference calls, events at the NAMM Show and state and local forum events.</p>

  <p>Hear from teachers, parents, students, school, community and business leaders, elected officials and musical celebrities sharing why music education is important and what they are doing to assure that it is available to all children.</p>
  
  
  <form class="join-form" action="#" method="post" name="join-coalition" id="join-coalition">
  
    <div class="form-item">
      <label for="email">Email Address</label>
      <input type="email" value="" name="EMAIL" class="required email" id="email" placeholder="Email address">
    </div>
  
  </form>
  
  <p>To join the SupportMusic Coalition and have your company listed as an official affiliate, email <a href="#">SupportMusic@namm.org</a>.</p>

</article> <!-- /.join-coalition -->