<section class="component join-coalition">

  <h1 class="component-title">Join the Support Music Coalition</h1>
  
  <p>The SupportMusic Coalition is a program of the NAMM Foundation and unites non-profit organizations, schools and businesses working to keep music education strong in their communities. Joining the SupportMusic Coalition is easy and absolutely FREE! Receive regular communications about monthly conference calls, and connect with a national network of music education advocates.</p>
  
  <form class="join-form" action="#" method="post" name="join-coalition" id="join-coalition">
  
    <div class="form-item">
      <label for="email">Email Address</label>
      <input type="email" value="" name="EMAIL" class="required email" id="email" placeholder="Email address">
    </div>
  
  </form>
  
  <p><a href="#">Hear industry leaders</a> share why they participate, and why you should too!</p>

</section> <!-- /.join-coalition -->