<div class="lesson-locator">
	<h1 class="section-title">Lesson Locator</h1>
	<img class="support-image" src="http://placehold.it/400x300&text=Map+image">
	<div class="locator-form">
		<p class="summary">Introduction text about the NAMM Foundation lesson locator here.</p>
		<form class="location-form" action="#" method="post" name="join-coalition" id="join-coalition">
		  <div class="form-item">
		    <label for="email">Enter your City, State or Zip Code:</label>
		    <input type="text" value="City, State or Zip" name="LOCATION" class="required location" id="location" placeholder="City, State or Zip">
		  </div>
		</form>
	</div>
</div>