<article class="component mac-resources">
  <h1 class="component-title">Music Achievement Council Resources</h1>
  <ul class="resources-list">
    <li class="resource">
			<h2 class="item-title"><a href="#">Resource Title Here</a></h2>
			<p class="summary">The brief description of what this resource is and who it is intended for should go right here.</p>
			<p><a class="download-link" href="#">Download the PDF</a></p>
		</li>
		<li class="resource">
			<h2 class="item-title"><a href="#">A Practical Guide for Recruitment and Retention</a></h2>
			<p class="summary">The brief description of what this resource is and who it is intended for should go right here.</p>
			<p><a class="download-link" href="#">Download the PDF</a></p>
		</li>
		<li class="resource">
			<h2 class="item-title"><a href="#">Educator Tips for Success</a></h2>
			<p class="summary">Tips for Success will help answer a range of questions, from how to prepare an instrument replacement plan to how to expand the learning power of music. These tips are complemented by short videos and will enhance the user's experience.</p>
		</li>
  </ul>
</article>