<article class="most-popular">
	<h1 class="component-title">Popular Articles</h1>
	<ul class="posts-list">
		<li class="post">
			<p class="meta">October 12, 2013</p>
			<h2 class="item-title"><a href="#">Support Music Community Forum - It's a Wrap</a></h2>
		</li>
		<li class="post">
			<p class="meta">September 30, 2013</p>
			<h2 class="item-title"><a href="#">REPLAY - The September 30th Support Music Community Forum</a></h2>
		</li>
		<li class="post">
			<p class="meta">September 10, 2013</p>
			<h2 class="item-title"><a href="#">Webcast: Support Music Community Forum, Tuesday September 10, 2013</a></h2>
		</li>
	</ul>
</article>