<h2 class="component-title">Museum of Making Music</h2>
<img class="featured-image" src="http://placehold.it/400x200">
<div class="description">
  <p class="summary">The Museum of Making Music , a division of the NAMM Foundation, explores the unique accomplishments and lasting impact of the music products industry through permanent and special exhibitions, concerts and educational programs. Committed to creating a more musical world, the museum directly connects visitors of all ages with hands-on music making.</p>
  <a href="#">Go to museumformakingmusic.org</a>
</div>

