<article class="component other-webcasts">
  <h1 class="component-title">More Webcasts</h1>
  <ul class="posts-list">
    <li class="post">
			<p class="meta">October 12, 2013</p>
      <h2 class="item-title"><a href="#">Webcast Title Here</a></h2>
		</li>
		<li class="post">
			<p class="meta">October 12, 2013</p>
      <h2 class="item-title"><a href="#">Webcast Title Here</a></h2>
		</li>
		<li class="post">
			<p class="meta">October 12, 2013</p>
      <h2 class="item-title"><a href="#">Webcast Title Here</a></h2>
		</li>
  </ul>
</article>