<article class="component related-articles">
  <h1 class="component-title">Related Articles</h1>
  <ul class="posts-list">
    <li class="post">
			<p class="meta">10/12/2013 | <a href="#">Author Name</a> <span class="comments-count">13 Comments</span></p>
      <h2 class="item-title"><a href="#">7 Essential Questions from Summer NAMM</a></h2>
		</li>
		<li class="post">
			<p class="meta">10/12/2013 | <a href="#">Author Name</a> <span class="comments-count">9 Comments</span></p>
      <h2 class="item-title"><a href="#">It's Not the Technology; It's the Musicians</a></h2>
		</li>
		<li class="post">
			<p class="meta">10/12/2013 | <a href="#">Author Name</a> <span class="comments-count">2 Comments</span></p>
      <h2 class="item-title"><a href="#">False Transparency and the Airport Princess</a></h2>
		</li>
  </ul>
</article>