<h2 class="component-title">Research & Music Making Grants</h2>
<img class="featured-image" src="http://placehold.it/400x200">
<div class="description">
  <p class="summary">The NAMM Foundation supports grants and scholarships initiatives and music making and music research related projects. Scholarships include the NAMM President's Innovation Award and the William R. Gard Scholarship. Music Making Program Grants are reviewed by invitation annually.</p>
  <ul class="research-links">
    <li><a href="#">Frequently Asked Questions</a></li>
    <li><a href="#">Learn more about NAMM Foundation Grants</a></li>
  </ul>
</div>