<article class="component support-music-resources">
  <h1 class="component-title">Support Music Resources</h1>
  <ul class="resources-list">
		<li class="resource">
			<h2 class="item-title"><a href="#">Why Learn to Play Music</a></h2>
			<p class="summary">This helpful resource communicates the benefits of music education &mdash; to school and community leaders, to parents, and to students. Includes new research and statistics showing how music makes a difference in a child's education.</p>
			<p><a class="download-link" href="#">Download the PDF</a></p>
		</li>
		<li class="resource">
			<h2 class="item-title"><a href="#">Now More Than Ever</a></h2>
			<p class="summary">This helpful info is presented in the form of a simple, six-step, call-to-action for concerned citizens working together to counter budget cuts to music programs.</p>
			<p><a class="download-link" href="#">Download the PDF</a></p>
		</li>
		<li class="resource">
			<h2 class="item-title"><a href="#">Keep Music Education Strong</a></h2>
			<p class="summary">This helpful presentation supplement is a bilingual (Spanish & English) hand-out for school board meetings, community forums and to help activate parent-teacher groups.</p>
			<p><a class="download-link" href="#">Download the PDF</a></p>
		</li>
		<li class="resource">
			<h2 class="item-title"><a href="#">Community Action Kit</a></h2>
			<p class="summary">A step-by-step guide and toolkit on how to set up a community music advocacy coalition. Includes power point presentations, PSAs, posters, mailers, petition and letter templates, sample media releases and more.</p>
			<p><a class="download-link" href="#">Download the PDF</a></p>
		</li>
		<li class="resource">
			<h2 class="item-title"><a href="#">Bridging the Gap between Middle School and High School</a></h2>
			<p class="summary">A helpful resource containing tips for ensuring a seamless music education experience.</p>
			<p><a class="download-link" href="#">Download the PDF</a></p>
		</li>
		<li class="resource">
			<h2 class="item-title"><a href="#">A Practical Guide for Recruitment and Retention</a></h2>
			<p class="summary">The brief description of what this resource is and who it is intended for should go right here.</p>
			<p><a class="download-link" href="#">Download the PDF</a></p>
		</li>
  </ul>
</article>