<h2 class="component-title">SupportMusic</h2>
<img class="featured-image" src="http://placehold.it/400x200">
<div class="description">
  <p class="summary">SupportMusic provides tools and resources to advance community support for music education. You CAN make a difference!</p>
  <ul class="support-music-links">
    <li><a href="#">Learn more about SupportMusic</a></li>
    <li><a href="#">Join the SupportMusic Coalition</a></li>
    <li><a href="#">Recent news from the SupportMusic Coalition</a></li>
  </ul>
</div>
