<h1 class="section-title">Tips for Success</h1>
<h2 class="subtitle-credit">brought to you by <a href="#">The Music Achievement Council</a></h2>
<ul class="tips-list">
  <li class="post tip">
    <h2 class="item-title"><a href="#">Focusing on the Classroom: A Checklist for Teachers</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Focusing on the Classroom: Music Content Standards</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Focusing on the Classroom: Know the Territory</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Focusing on the Classroom: Recruiting and Retaining Students</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">The Business Side of Teaching School Music: Working with Administrators</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">The Business Side of Teaching School Music: Choosing a Music Dealer</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">The Business Side of Teaching School Music: Fiscal Procedures</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">The Business Side of Teaching School Music: Preparing an Instrument Replacement Plan</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">The Business Side of Teaching School Music: Maximizing Fiscal Opportunities</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Telling the Story: Great Ways to Get Your Message Out</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Telling the Story: Communicating with Your Community</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Telling the Story: Advocating for Music</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Telling the Story: What Research Shows</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Telling the Story: Music Impacts Learning and Way of Life</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Telling the Story: Proactive is Better than Reactive</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Telling the Story: What Administrators Can Do</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Supporting Music Education: Critical Factors for a Successful Program</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Supporting Music Education: The Art of Teaching</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Supporting Music Education: Work with the Best!</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Supporting Music Education: Helping Teachers Succeed</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Supporting Music Education: Expanding the Learning Power of Music</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Supporting Music Education: Concert Thoughts</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Supporting Music Education: Audience Guidelines</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
  <li class="post tip">
    <h2 class="item-title"><a href="#">Supporting Music Education: Choose to Teach</a></h2>
    <p class="summary">Summary field description of this piece of content will show right here. PBR chillwave Tumblr, bicycle rights banjo single-origin coffee shabby chic. Banjo fap photo booth street art Carles.</p>
  </li>
</ul>